name: Run tests

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

jobs:
  tests:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.11"

      - name: Install dependencies
        run: pip install -r requirements.txt

      - name: Run tests
        run: pytest
  deploy:
    needs: tests
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4
      
      - name: Build Docker image
        run: docker build -t abramovapp:latest .

      - name: Save Docker image to tar
        run: docker save abramovapp:latest -o abramovapp.tar

      - name: Fix permissions
        run: sudo chmod 644 abramovapp.tar 
      
      
      - name: Copy image to server
        uses: appleboy/scp-action@v0.1.7
        with:
          host: ${{ secrets.HOST }}
          username: ${{ secrets.USERNAME }}
          password: ${{ secrets.PASSWORD }}
          port: ${{ secrets.PORT }}
          source: "abramovapp.tar"
          target: "~/Abramov"
          script: |
            cd ~/Abramov
          
            echo "Loading Docker image..."
            docker load -i abramovapp.tar

            echo "Stopping old container..."
            docker rm -f abramovapp || true

            echo "Starting new container..."
            docker run -d --name abramovapp abramovapp:latest

            echo "Deployment finished."